<!DOCTYPE html>
<head>
    <title>Change password</title>
</head>


<body>
  

<div class="mt-85">
    
</div>



<form class="card " >


        <h6 class="mat-h1" style="text-align:center; padding-top: 2%;">RESET PASSWORD</h6>
        <!-- Taken from material.angular.io example -->
       
         
          <mat-form-field class="form-group">
              <input matInput ngModel name="oldpassword" #oldpassword="ngModel" required placeholder="Enter your old password" [type]="hide ? 'password' : 'text'">
              <mat-error *ngIf="oldpassword.touched && !oldpassword.valid"> Please enter your old password</mat-error>
              
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field >
                <input matInput  minlength=3 ngModel name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel" required  placeholder="Enter your new password" [type]="hide ? 'password' : 'text'"  >
                <!-- https://www.w3schools.com/tags/att_pattern.asp (Pattern for password as suggested by W3) -->
                <mat-hint *ngIf="!password.touched"> Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</mat-hint>
                <br>
                <!-- <mat-hint *ngIf="password.errors.required"> Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</mat-hint> -->
                <mat-error *ngIf="password.errors && password.touched"> Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</mat-error>
                <!-- <mat-error *ngIf="password.touched && !password.valid"> error</mat-error>
                <mat-error *ngIf="password.errors.minlength"> Min length</mat-error> -->
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
           
              <br>

        <mat-form-field>
            <input matInput type="password" minlength=3 ngModel name="confirmpassword" pattern="{{password.value}}" #confirmpassword="ngModel" required  placeholder="Confirm your new password"   >
           <mat-error *ngIf="!(confirmpassword.value == password.value) && confirmpassword.touched"> Passwords don't match</mat-error>
          
 
        </mat-form-field>

        <br>

        <button type="submit" style ="margin-bottom: 5%;" mat-raised-button (click)=toggle()  [disabled]="!((password.valid)&&(confirmpassword.valid))"color="accent">Reset password</button>


        <div class="alert alert-success mt-25" style="text-align:center;" role="alert" *ngIf="show"  >
            Password change success!
          </div>
          <!-- {{ (password.valid)}}
          {{password.valid}}
          {{confirmpassword.value}}
          {{(!(password.value == confirmpassword))}}
      -->
        </form>

 </body>



