.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  top: 71px !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.height-adjust{
  height: 8px;
}
mat-sidenav-content{
  top: 94px;
}
.profile-image{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 20px auto 0;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.profile-image img{
  display: block;
  width: 100%;
  height: auto; 
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.9;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;;
}
.profile-image:hover .overlay {
  height: 100%;
}
.image_overlay_text {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.mat-drawer-container{
  overflow: initial;
}
.modal-dialog{
  margin-top: 10%;
}
.modal-header img{
  width: 30%;
  display: block;
  margin: -56px auto 0;
}
.button_text{
  margin-left: 5px;
}
.profile_footer{
  display: none !important;
}
@media screen and (max-width:599px){
  .modal-header img{
    width: 50%;
  }
}