.dropdown-menu{
    min-width: 9rem;
}
.cart-count{
    border-radius: 25px;
    background-color: orangered;
    width: 25px;
    height: 25px;
    margin-left: -22px;
    margin-top: -10px;color: white;
    
}
.cart-count:hover{
    cursor: pointer
}