
<!-- Authored by Shehzeen[B00812551]-->
 <!--material bootstrap for angular https://mdbootstrap.com-->
 <!-- Material design components are from https://material.angular.io/-->
 <div class="container mt-85"> 
    <div class="jumbotron jumbotron-fluid">
       <div class="container">
          <section class="mat-typography">
             <h2 class="text-center mt-25">CHANGE PASSWORD</h2>
          </section>
          <mat-divider></mat-divider>
          <br>
          <form  [formGroup]="changePasswordForm" class="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="fields-container">
             <mat-form-field>
                <input matInput type="text" placeholder="Email*" class="form-control" name="email"
                   formControlName="email">
                <mat-error *ngIf="f.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="f.email.errors?.email">Email must be a valid email address</mat-error>
             </mat-form-field>
          </div>
          <div class="fields-container">
             <mat-form-field>
                <input matInput type="password" placeholder="Password*" class="form-control" name="password"
                   formControlName="password">
                <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="f.password.errors?.minlength">Password must be at least 8 characters</mat-error>
             </mat-form-field>
          </div>
          <div class="fields-container">
             <mat-form-field>
                <input matInput type="password" placeholder="Confirm Password*" class="form-control" name="confirmPassword"
                   formControlName="confirmPassword">
                <mat-error *ngIf="f.confirmPassword.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must match</mat-error>
             </mat-form-field>
          </div>
          <div style="text-align:center">       
             <button  mdbBtn type="submit" [attr.disabled]="!changePasswordForm.valid ? true : null " class="text-center change-pass" color="indigo"> Submit </button>
          </div>
          </form>
       </div>
    </div>
 </div>