/*Authored by Aparna Sridhar[B00799570]*/
h4{
	color: DodgerBlue;
	}
#pas1 {
	padding-bottom: 40px;
}
#banner_image {
	padding-left: 0px; 
	padding-right: 0px;
}
.card{
	color: DodgerBlue;
}
.searchbutton button {
	background: #2196F3;
	color: white;
	 border: 1px solid grey;
     border-left: none;
     padding: 4px;
     width: 4%;
}
#search {
	padding: 3px;
}
.home_container{
	margin-bottom: 20px;
}
