#fpage {
  // Image taken from Unsplash, https://unsplash.com/photos/xy1Yo_MHDvQ. [Accessed: 01-Jun-2019].
  background: url(https://images.unsplash.com/photo-1474201249988-1c597f903bf8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80) no-repeat center center fixed;
  display: table;
  height: 55vh;
  width: 100% !important;
  position: relative;
  background-size: cover;
  padding-bottom: 10px;
  align-items: center;
}

.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.btn-primary{
  background-color: #65427A !important;
}

.outer-container{
  margin-top: 5.75rem;
  padding: 0;
  overflow: hidden;
}
.carousel-img{
  width: 100%;
  max-height: 30.5rem;
  height: auto;
  object-fit: cover;
}

.secondary-row{
  margin: 2rem 0 2rem 0;
  padding: 1.75rem 5.25rem;
  .card-row{
    overflow-x: auto;
    white-space: nowrap;
    .card{
      margin-right: 1rem;
      white-space: normal;
      width: 18rem;
      .card-text {
        max-height: 6.75rem;
        overflow-y: hidden;
      }
      .link-container{
        width: 100%;
        text-align: right;
      }
    }
  }
  .title-row{
      margin-top: 1.75rem;
  }
}
.middle-row{
  height: 400px;
  padding-left: 0;
  padding-right: 0;

  .col-sm-12, .col-lg-6{
    padding: 0;
  }

  .extra-large-text{
    font-family: Impact, "Arial Black", sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .leftimg{
    float: left;
    padding: 0 10px 0 0;
    height: 200px;
    width: auto;
  }
  .raised-card{
    box-shadow: 0 2px 5px 0 #666, 0 2px 10px 0 #666;
    border-radius: 0.25rem;
    background-color: #68407D;
    height: 100%;
    display: block;
    padding: 1.75rem;
    color: #ffffff;
    .raised-content{
      margin: 3.5rem 0 0 1.75rem;
    }
  }
  .lower-card{
    background-color: #B496C8;
    height: 100%;
    padding: 1.75rem;
    z-index: -1;
  }
  .lower-img{
    height: 100%;
    z-index: -1;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  .outer-container{
    padding: 0;
    margin-top: 4rem;

    .secondary-row{
      padding: 0.25rem 1.75rem;
    }
    .leftimg{
      display: none;
    }
    .lower-content{
      height: 30vh;
      overflow-y: hidden;
      margin-top: 4rem;
    }
    .events-row{
      margin-top: 4rem !important;
    }
  }
  .carousel-img{
    max-height: 13rem;
  }
  .mission-statement{
    padding: 1.75rem;
    max-height: 16rem;
    overflow-y: scroll;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .outer-container{

    #fpage{
      height: 35vh;
    }
    .main-row{
      max-height: fit-content;
    }
    .secondary-row{
      margin: 0 0 2rem 0;
      .title-row{
        margin-bottom: 1.5rem;
        text-align: center;
      }
    }
    .lower-img{
      display: none;
    }
  }
}
