<!-- Developer: Aditya Gadhvi (B00809664) (ad742065@dal.ca) -->

<!-- https://getbootstrap.com/  I have used bootstrap classes container, col-, row etc. -->
<div class="container-fluid adoptCatMainDiv mt-85">
	
	<h1 style="text-align:center" id="mainTitle">Reasons to adopt a cat</h1>

	<div class="row" id="row1">
			<!-- Image is made responsive using bootstrap class img-fluid
			https://mdbootstrap.com/legacy/4.3.2/?page=css/media -->
		<div class="col-lg-12 no_padding">
        <!-- https://www.study.eu/article/meet-europes-cutest-students-these-5-campus-cats-will-melt-your-heart -->
			<img class="img-fluid" src=".\assets\images\cutecat.jpg"/>
		</div>
	</div>

	<div class="row" id="row2">
	  	
	  	<div class="col-lg-2 col-md-2 col-sm-2" id="column1">
	  		&nbsp;
	  	</div>

	  	<div class="col-md-8 col-md-8 col-sm-8" id="column2">
				<!-- The text conent is taken from this website: http://www.pethealthnetwork.com/news-blogs/a-vets-life/10-great-reasons-adopt-a-cat-a-shelter -->
	  			<h1>Reason-1</h1>
	  			<p>
					  Cats in many shelters interact with their caretakers and volunteers every day, and these people really get to know their personalities. Particularly with adult cats, you can find a companion with the type of temperament you’re looking for. You could find a playful, active cat or a calmer feline who prefers cuddling and a quieter environment. According to Research Gate, owning a cat, or any pet you adopt from a shelter, has been shown to have positive effects on humans’ ability to cope with stress, anxiety, depression and loneliness1. Taking a cat home from a shelter can improve your sense of happiness and general well-being.
						A recent study found that owning a cat may lead to a reduced risk of death from cardiovascular disease and stroke2. This is an important finding considering the AHA/ASA says, “Stroke is the number 3 cause of death in women and number 4 cause of death in men.		  
				</p>

	  			<h1>Reason-2</h1>
	  			<p>
					  Cats in many shelters interact with their caretakers and volunteers every day, and these people really get to know their personalities. Particularly with adult cats, you can find a companion with the type of temperament you’re looking for. You could find a playful, active cat or a calmer feline who prefers cuddling and a quieter environment. According to Research Gate, owning a cat, or any pet you adopt from a shelter, has been shown to have positive effects on humans’ ability to cope with stress, anxiety, depression and loneliness1. Taking a cat home from a shelter can improve your sense of happiness and general well-being.
					A recent study found that owning a cat may lead to a reduced risk of death from cardiovascular disease and stroke2. This is an important finding considering the AHA/ASA says, “Stroke is the number 3 cause of death in women and number 4 cause of death in men.
				</p>

	  			<h1>Reason-3</h1>
	  			<p>
					Cats in many shelters interact with their caretakers and volunteers every day, and these people really get to know their personalities. Particularly with adult cats, you can find a companion with the type of temperament you’re looking for. You could find a playful, active cat or a calmer feline who prefers cuddling and a quieter environment. According to Research Gate, owning a cat, or any pet you adopt from a shelter, has been shown to have positive effects on humans’ ability to cope with stress, anxiety, depression and loneliness1. Taking a cat home from a shelter can improve your sense of happiness and general well-being.
					A recent study found that owning a cat may lead to a reduced risk of death from cardiovascular disease and stroke2. This is an important finding considering the AHA/ASA says, “Stroke is the number 3 cause of death in women and number 4 cause of death in men.		  		
				</p>

      </div>

	  	<div class="col-md-2 col-md-2 col-sm-2" id="column3">
	  		&nbsp;
	  	</div>

	</div> 

</div>




    		
  				
      					
      		