//Authored by Aparna Sridhar [B00799570]
#root {
    padding-top: 20px;
    padding-bottom: 40px;
}

mdb-card-img{
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}


