<!--Developed by Richa Khatri (B00792218) Richa.khatri@dal.ca-->
<div class="container mt-85">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="text-center">Forgot Password</h2>
      <div class="container">
        <!--Stepper-->
        <mat-horizontal-stepper [linear]="isLinear" #stepper>

          <!--1st step - Validate User-->
          <mat-step [stepControl]="validateUserFormGroup" editable="false">

            <!--Validate User Form-->
            <form [formGroup]="validateUserFormGroup" name="validateUserFormGroup">
              <ng-template matStepLabel>Validate Identity</ng-template>
              <div class="md-form"></div>
              <div class="row" style="margin-left: -7px;">
                <div class="col-md-4">
                  <div>What was your first pet's name?</div>
                </div>
                <div class="col-md-4">
                  <input mdbInputDirective placeholder="Security Answer" type="text" id="securityAnswer"
                    class="form-control" name="securityAnswer" formControlName="securityAnswer"
                    [ngClass]="{'is-invalid':validateUserFormGroup.get('securityAnswer').touched && validateUserFormGroup.get('securityAnswer').invalid}">
                  <div class="invalid-feedback">
                    <div>Security Answer is required</div>
                  </div>
                  <!-- <button class="nav-link md-primary" mat-button matStepperNext color="primary">Next</button> -->
                </div>
              </div>
              <div class="md-form"></div>
            </form>
            <!--/Validate User Form-->

            <!--Validate User Button-->
            <button mdbBtn type="submit" color="indigo" matStepperNext mdbWavesEffect class="sign-in_button"
              [disabled]="!validateUserFormGroup.valid">Next</button>
            <!--/Validate User Button-->
          </mat-step>
          <!--/1st step - Validate User-->

          <!--2nd step - Change Password-->
          <mat-step [stepControl]="changePasswordFormGroup" editable="false">

            <!--Form-->
            <form [formGroup]="changePasswordFormGroup">
              <ng-template matStepLabel>Change Password</ng-template>
              <div class="md-form"></div>
              <div class="row" style="margin-left: -7px;">
                <div class="col-md-4">
                  <input mdbInputDirective matInput id="oldPassword" placeholder="Old Password" class="form-control"
                    name="oldPassword" formControlName="oldPassword"
                    [ngClass]="{'is-invalid':changePasswordFormGroup.get('oldPassword').touched && changePasswordFormGroup.get('oldPassword').invalid}">
                  <div
                    *ngIf="changePasswordFormGroup.get('oldPassword').touched && changePasswordFormGroup.get('oldPassword').invalid"
                    class="invalid-feedback">
                    <div *ngIf="changePasswordFormGroup.get('oldPassword').errors.required">Password is
                      required</div>
                    <div *ngIf="changePasswordFormGroup.get('oldPassword').errors.minlength">Password should
                      have at least 8 characters</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input matInput id="newPassword" placeholder="New Password" class="form-control" name="newPassword"
                    formControlName="newPassword"
                    [ngClass]="{'is-invalid':changePasswordFormGroup.get('newPassword').touched && changePasswordFormGroup.get('newPassword').invalid}">
                  <div
                    *ngIf="changePasswordFormGroup.get('newPassword').touched && changePasswordFormGroup.get('newPassword').invalid"
                    class="invalid-feedback">
                    <div *ngIf="changePasswordFormGroup.get('newPassword').errors.required">Password is
                      required</div>
                    <div *ngIf="changePasswordFormGroup.get('newPassword').errors.minlength">Password should
                      have at least 8 characters</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input matInput appConfirmEqualValidator="newPassword" id="confirmPassword"
                    placeholder="Confirm Password" class="form-control" name="confirmPassword"
                    formControlName="confirmPassword"
                    [ngClass]="{'is-invalid':changePasswordFormGroup.get('confirmPassword').touched && changePasswordFormGroup.get('confirmPassword').invalid}">
                  <div
                    *ngIf="changePasswordFormGroup.get('confirmPassword').touched && changePasswordFormGroup.get('confirmPassword').invalid"
                    class="invalid-feedback">
                    <div *ngIf="changePasswordFormGroup.get('confirmPassword').errors.minlength">Password should have at
                      least 8 characters</div>
                    <div *ngIf="changePasswordFormGroup.get('confirmPassword').errors.required">Password is
                      required</div>
                    <div *ngIf="changePasswordFormGroup.get('confirmPassword').errors?.notEqual">Password and Confirm
                      Password does not match</div>
                  </div>
                </div>
              </div>
              <div class="md-form"></div>
            </form>
            <!--/form-->

            <!--Change Password button-->
            <button mdbBtn type="submit" color="indigo" mdbWavesEffect matStepperNext
              [disabled]="!changePasswordFormGroup.valid">Next</button>
            <!--/Change Password button-->
          </mat-step>
          <!--/2nd step-->

          <!--mat step 3 Success Message-->
          <mat-step>
            <div class="md-form"></div>
            <ng-template matStepLabel editable="false">Done</ng-template>
            You password is reset.
          </mat-step>
          <!--/mat step 3-->
        </mat-horizontal-stepper>
        <!--/Stepper-->
      </div>
    </div>
  </div>
</div>