
<!-- Authored by Lakshmi Ponnuru [B00811623]-->
<div class="container mt-85">
  <div class="jumbotron">
      <div class="container">
          <div class="row">
            <!-- Angular 7 Reactive Form Validations at https://jasonwatmore.com-->
              <div class="col-md-6 offset-md-3">
                  <h3 class="txt"><strong>Change Password</strong></h3>
                  <hr>
                  <br>
                  <br>
                  <!--Form examples from https://mdbootstrap.com/docs/angular-->
                  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label class="lbl">Old Password:</label>
                          <input type="password" formControlName="oldpassword" placeholder="Old Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
                          <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                              <div *ngIf="f.oldpassword.errors.required">Password is required</div>
                              <div *ngIf="f.oldpassword.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="lbl">New Password:</label>
                          <input type="password" formControlName="newpassword" placeholder="New Password" class="form-control" 
                          [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }" />
                          <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                              <div *ngIf="f.newpassword.errors.required">Password is required</div>
                              <div *ngIf="f.newpassword.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="lbl">Confirm New Password:</label>
                          <input type="password" formControlName="confirmPassword" placeholder=" Re-type New Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                              <div *ngIf="f.confirmPassword.errors.passwordMatch">Passwords must match</div>
                          </div>
                      </div>
                      <br>
                      <div class="form-group">
                          <button class="btn">Submit</button>
                      </div>
  
                      
                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  