.btn {
    background-color: darkslateblue;
    color: aliceblue;
    font-weight: bold;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 38%;
  }
  
  .txt{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
  }
  .lbl {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  }
  
  