<!--Developer - Dheeraj Varshney B00808467 dh301823@dal.ca-->
<div id="dogDiv" class="mt-85">

  <div class="container-fluid">
    <h2 class="header1"> Why Adopt a Dog</h2>
    <div class="row">
      <div class="col-lg-5">
          <!--https://bestfriends.org/resources/reasons-adopt-pet -->
        <img class="img-fluid rounded " id="dog1" src="./assets/images/WhyDogImages/whydog_4.jpg">
        <div class="imgeffect">Read my story</div>
      </div>
      <div class="col-lg-7">
        <ul>
          <li><span class="boldtext">Buying a pet can easily cost $500 to $1,000 or more.</span>
            Adoption costs range from $50 to $200, depending on
            whether the pet comes from the city shelter or a rescue group that has spent money on boarding, vets and
            grooming.
          </li>
          <li><span class="boldtext">You’re getting more for your money if you get a mixed breed.</span>
            Based on the well-established principle of
            “hybrid vigor,” a mixed-breed animal is likely to live longer and cost less in vet bills than a pure breed.
          </li>
          <li><span class="boldtext">Many purebred dogs are prone to developing health problems ranging from breathing
            difficulties to hip dysplasia to an enlarged heart.</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <!--https://bestfriends.org/resources/reasons-adopt-pet -->
        <img class="img-fluid rounded " id="dog2" src="./assets/images/WhyDogImages/whydog_3.jpg">
        <div class="imgeffect">Read my story</div>
      </div>
      <div class="col-lg-7">
        <ul>
          <li><span class="boldtext"> When you adopt a pet, you are saving a life.</span> When you buy a pet, you not only deny
            a homeless pet a home, you are supporting an industry that thrives on short-changing the welfare of
            animals. Puppy and kitten mills (which sell to pet stores) are in business to make a profit, so they churn
            out puppies and kittens as fast as they can. </li>
            <li><span class="boldtext">These animals are often in ill-health and have problems like poor socialization
            skills due to lack of human companionship and genetic defects due to inbreeding.</span> </li>
            <li><span class="boldtext">If you adopt, you get your choice of any age.</span> Though puppies and kittens are cute
            and cuddly, they can also be a handful. An adult or older pet may be a better fit for you. For example,
            adopting an adult dog who’s already house-trained and knows basic cues is often much easier than adopting a
            puppy, who must be taught these things.</li>
            <li><span class="boldtext">You get just as much love (if not more).</span> An adopted pet is every bit as loving,
            intelligent and loyal as a purchased pet, even if you get an adult or older animal.</li>
        </ul>
      </div>
    </div>
  </div>
</div>