

.header1
{
    text-align:center;
    font-family: monospace;
    font-size:80px;
}
 
#dog2,#dog1
{
   margin-bottom: 20px;
    
}


// .center-block {
//     display: table;
//     margin: 0 auto;
//   }

.text1
{
    float: right;
}