// Developer - Dheeraj Varshney B00808467 dh301823@dal.ca
.pet-lists
{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    padding:0 0 72px;
    position:relative;
 
}
.pet-list-header
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 60px;
    color: black;
}

.container-fluid
{
   background-color:  #FFFAFA;
}

.img
{
 width: 300px;
 height: 300px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mb-4 input[type=text]:focus:not([readonly]) 
{
    border: 1px solid black;
    box-shadow: 0 0 0 1px black;
    
}
.mb-4
{
    margin: 40px;
}
img:hover{
    cursor: pointer;
}

// media query for responsiveness
@media (max-width: 714px)
{
    .pet-list-header
    {
        font-size: 20px;
    }
}
@media (min-width: 715px) and (max-width: 1050px)
{
    .pet-list-header
    {
        font-size: 40px;
    }
}