// Developed by Aadesh Shah B00802629
.pet-lists
{
    text-align:center;
    padding:0 0 72px;
    position:relative;
 
}
.pet-list-header
{
    text-align: center;
    font-size: 40px;
    color: black;
}

.container-fluid
{
   background-color:  #FFFAFA;
}

// new code - Aadesh

.search_box{
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    height: calc(2.25rem + 10px);
}
.search_button{
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    height: calc(2.25rem + 10px);
    outline: none;
    border-radius: 0 15px 15px 0;
    border: none;
    background: #0d47a1;
    color: #fff;
    cursor: pointer; 
    transition: all 0.2s ease;    
}
.search_button:hover{
    background: #000;
}
.search_wrapper{
    position: relative;
    width: 85%;
    margin: 25px auto 0;
    margin-top: 35px;
}
.card_img_wrapper{
    height: 200px;
    max-height: 200px;
    overflow: hidden;
    cursor: pointer;
    display: block;
}
mdb-card{
    margin-bottom: 20px;
}
mat-spinner{
    margin: 0 auto;
}

.img-fluid{
    height: 100%; 
    max-width: initial;
    display: block;
    margin: 0 auto;
}
.pets_card{
    position: relative;
}
.pet_card_overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 0.2s ease;
    background: #fff;
}
.pet_card_overlay_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px auto 0;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pet_card_overlay_detail{
    margin-top: 15px;
    color: #000;
}
.pets_card:hover .pet_card_overlay{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.filter_class{
    margin-top: 15px;
    margin-bottom: 8px;
}
.mat-select{
    height: 40px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.mat-select-placeholder{
    color: #000 !important;
}
.toggle_wrapper{
    display: none;
}
p.error_no_pets{
    color: red;
}
@media screen and (max-width:900px){
    .search_button{
        width: 85px;
    }
}
@media screen and (max-width:765px){
    .toggle_wrapper{
        display: block;
    }
    .search_wrapper{
        width: 100%;
    }
    .search_button{
        width: 50px;
    }
    .img-fluid{
        max-width: 100%;
        width: 100%;
        height: auto;
        display: initial;
        margin: auto;
    }
    .card_img_wrapper{
        height: auto;
        max-height: 450px;
    }
    .desktop_visible{
        display: none;
    }
    .pet-list-header{
        font-size: 30px;

    }
    .pets_card:hover .pet_card_overlay{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}