.pdf_content{
    display: none;
}
.badge{
    font-size: 15px;
    line-height: 22px;
}
.prog-warning{
    background-color: #f0ad4e !important;
}
.prog-success{
    background-color: #5cb85c !important;
}