.sign-in_button{
    display: block;
    margin: 10px auto;
    letter-spacing: 2px;
}
.jumbotron{
    p{
        margin-top: 25px;
    }
}
.btn-primary{
  background-color: #65427A !important;
}

.outer-container{
  margin-top: 8rem;
  padding: 1.75rem 5rem;
}

.login-container{
  max-width: 65%;
  padding-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .strayspirit-logo{
    margin: -6.75rem 0 1.75rem 0;
    img{
      height: 85px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .outer-container{
    padding: 0;
    margin-top: 10rem;
  }
  .login-container{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .outer-container{
    padding: 0;
    margin-top: 4rem;
  }
  .login-container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .strayspirit-logo{
    display: none;
  }
  .jumbotron{
    height: 100vh;
    margin-bottom: 0;
  }
}

