.bg{
    background:  #FFFAFA;
    padding-bottom: 50px;
  }
  .event_container{
    background: #fff;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 50px;
  }
  .event_wrapper{
      padding-bottom: 50px;
  }
  .event_description{
      margin-top: 20px;
  }