<div class="bg">
    <div class="container mt-85 event_wrapper">
      <div class="event_container mt-25">
        <div class="" >
        <div class="row">
          <div class="col-sm-6">
            <div class="event_profile_pic">
                <img src="" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="event_content">
            <h2 class="event_name">Event Name</h2>
            <div class="mt-25 sep"></div>
            <div class="mt-25 event_specifications">
              <p class="event_location"><i class="fas fa-map-marker-alt"></i> Event Location</p>
              <p class="event_detailed_specs"><i class="fas fa-calendar-week"></i> Event Date</p>
            </div>
            <div class="mt-25">
              <p class="event_uploader"><i class="fas fa-user-tie"></i> Host: </p>
              <button mdbBtn color="primary" class="waves-light toggle_button" type="button" mdbWavesEffect (click)="eventRegister()">Register</button>
            </div>
          </div>
          </div>
        </div>
        <div class="event_description">
          <p> Description Description Description Description Description Description Description Description Description Description Description
          </p>
        </div>
      </div>
      </div>
    </div>
    </div>
    