// Authored by Sravan Sajeev [B00825856]
<!DOCTYPE html>
<head>
    <title>FAQ</title>
</head>
<body>
  

<div style = "margin-top: 130px; margin-left:150px;">
  <h2> Frequently asked questions </h2>
</div>
<div class="mt -25 container" >
  <div class="row">
<mat-card class="col-md-8" >
  <mat-expansion-panel *ngFor="let item of result">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{item.Title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{item.Content}}</p>
  
  </mat-expansion-panel>
</mat-card >

<mat-card class="col-md-4"  >
  
  <h4 style="text-align:center;"> Have more to ask ? </h4>
  <button mat-raised-button color = "yellow" style="margin-left:58px;" routerLink="/pets"> Head over to Stray spirit Forum</button>
  <mat-divider style="margin-top: 20px"></mat-divider>
  <mat-list style=" margin-top: 80px;">
      <mat-list-item > 
        <button mat-raised-button color = "primary" style="margin:auto;" routerLink="/feedback"> Write to us </button>
      </mat-list-item>
      
     </mat-list>
  
</mat-card>
</div>
</div>
</body>
