<div class="jumbotron-fluid jumbotron">
  <div class="mt-25">
  <div class="container">
      <h2 class="text-center">Edit a Pet Profile</h2>
      <form method="POST" name="editPetsForm" [formGroup]="editPetsForm" (submit)="editPet()"  enctype="multipart/form-data">
        <div class="md-form">
          <input mdbInputDirective type="name" id="petName" class="form-control" name="petName" formControlName="petName"
            [ngClass]="{'is-invalid':editPetsForm.get('petName').touched && editPetsForm.get('petName').invalid}">
          <label for="petName" class="">Pet Name</label>
          <div *ngIf="editPetsForm.get('petName').touched && editPetsForm.get('petName').invalid" class="invalid-feedback">
            <div *ngIf="editPetsForm.get('petName').errors.required">Pet Name is required</div>
          </div>
        </div>
        <div class="md-form">
        <mat-select placeholder="Pet Category" formControlName="petCategory">
            <mat-option value="Feline">
              Feline
            </mat-option>
            <mat-option value="Canine">
              Canine
            </mat-option>
          </mat-select>
          </div>
          <div class="md-form">
          <mat-select placeholder="Pet Gender" formControlName="petGender">
              <mat-option value="Male">
                Male
              </mat-option>
              <mat-option value="Female">
                Female
              </mat-option>
            </mat-select>
            </div>
            <div class="md-form">
            <mat-select placeholder="Pet Age" formControlName="petAge">
                <mat-option value="Young">
                  Young
                </mat-option>
                <mat-option value="Adult">
                  Adult
                </mat-option>
                <mat-option value="Senior">
                  Senior
                </mat-option>
              </mat-select>
              </div>
              <div class="md-form">
        <mat-select placeholder="Pet Health" formControlName="petHealth">
            <mat-option value="Vaccinated">
              Vaccinated
            </mat-option>
            <mat-option value="Not Vaccinated">
              Not Vaccinated
            </mat-option>
            <mat-option value="Not Sure">
              Not Sure
            </mat-option>
          </mat-select>
              </div>
              <div class="md-form">
        <mat-select placeholder="Adoption Status" formControlName="adoptionStatus">
            <mat-option value="Not Adopted">
              Not Adopted
            </mat-option>
            <mat-option value="Intrasit">
              Intrasit
            </mat-option>
            <mat-option value="Adopted">
               Adopted
            </mat-option>
          </mat-select>
              </div>
              
            <div class="md-form">
              <input mdbInputDirective type="name" id="petLocation" class="form-control" name="petLocation"
                [matAutocomplete]="auto" formControlName="searchLocation" (keydown)="onKeydown($event)" [ngClass]="{'is-invalid':editPetsForm.get('searchLocation').touched && editPetsForm.get('searchLocation').invalid}">
              <label for="petLocation" class="">Location</label>
              <div *ngIf="editPetsForm.get('searchLocation').touched && editPetsForm.get('searchLocation').invalid"
                class="invalid-feedback">
                <div *ngIf="editPetsForm.get('searchLocation').errors.required">Pet Location is required</div>
              </div>
            </div>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='filterPet($event.option.value)'>
              <ng-container *ngFor="let location_value of api_location?.suggestions">
                <mat-option
                  [value]="location_value.address.city+comma+ location_value.address.state+comma+ location_value.address.country"
                  *ngIf="location_value.address.city && location_value.address.state && location_value.address.country">
                  <span>{{location_value.address.city}}, {{location_value.address.state}},
                    {{location_value.address.country}}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
              <div class="md-form">
                  <!-- <input type="file" required name="uploadPic" value="Select Picture" (change)="onImagePicked($event)" > -->
                  <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
                </div>
                <img *ngIf="imageSrc" [src]="imageSrc" style="max-width:300px;max-height:300px"/>
                <div class="image_preview" *ngIf="imagePreview !== '' && imagePreview">
                  <img [src]="imagePreview" [alt]="editPetsForm.petName" class="img-fluid">
                </div>
              <div class="md-form">
                  <i class="fas fa-pencil-alt prefix"></i>
                  <textarea type="text" id="petDescription" class="md-textarea form-control" mdbInputDirective formControlName="petDescription" ></textarea>
                  <label for="petDescription">Pet Description</label>
                </div>
      <button mdbBtn type="submit" color="indigo" mdbWavesEffect class="sign-in_button" [disabled]="!editPetsForm.valid" >Update</button>
       </form>
       <a routerLink="/profile/my-pet-ads">
        <button mdbBtn type="button" color="orange" mdbWavesEffect class="sign-in_button" >Cancel</button>
      </a>
  </div>
</div>
</div>