.outer-container{
  margin-top: 6.25rem;
  padding: 1.75rem 6.25rem;
  overflow: hidden;
}
.carousel-img{
  width: 100%;
  max-height: 30.5rem;
  height: auto;
  object-fit: cover;
}
.main-row{
  padding-top: 0.5rem;
  max-height: 31rem;
}
.secondary-row{
  margin-top: 2rem;
  .card-row{
    overflow-x: auto;
    white-space: nowrap;
    .card{
      margin-right: 1rem;
      white-space: normal;
      width: 18rem;
      .card-text {
        max-height: 6.75rem;
        overflow-y: hidden;
      }
      .link-container{
        width: 100%;
        text-align: right;
      }
    }
  }
  .title-row{
      margin-top: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .outer-container{
    padding: 0;
    margin-top: 4rem;
  }
  .carousel-img{
    max-height: 13rem;
  }
  .mission-statement{
    padding: 1.75rem;
    max-height: 16rem;
    overflow-y: scroll;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .outer-container{
    padding: 1rem;

    .main-row{
      max-height: fit-content;
    }
  }
}
