<div class="mt-85">
    <!--https://material.angular.io/components/card/examples-->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Animal Shelter
      </mat-card-title>
      <mat-card-subtitle>A youth Campaign</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://rainbowanimalrescue.org/images/sign960.jpg" image-resizing image-Height="20px" image-Width="200px" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          Description<br>
          Spring Geequinox ~Version 6.0~
          Halifax Forum | Windsor Street | Halifax, NS B3K 5E5 | Canada
          <br>
          Fri April 19th(4-8) /Sat April 20th(11-7)/ Sun April 21st(10-4)
          <br>
          FRIDAY IS A BONUS DAY!!! Buy ANY pass, pick up your wristbands Fri starting at 2:30pm at the front of the show... and come in FREE from 4pm - 8pm.
          <br>
          Come Join the fun as we gather once more for the MOST AFFORDABLE weekend of geeky goodness! Support your favorite clubs gathered here to fundraise for the year ahead! This years cohost clubs are - Game Over,Cancer (gaming hosts!)
          SCA, MHA, Maritime Ghostbusters, FRAG, IKG and the Jules Verne Phantastical Society! Plus many other great organizations coming to show you what they have planned for you in 2019!
        
          <br>
          Panels, Vendors, Costume contests(Sunday ), Gaming of all kinds! PRIZES TO BE WON ~ come join us!
          <br>
          DONT MISS YOUR VIP passes at no extra charge, first 200 weekend passes are automatic VIP passes, feel the love!
          <br>
          VIP PERK SWAG BAGS- just pickup when you grab your VIP weekend wristbands. VIP bands also make you eligible for some unique in hall fun and door prize giveaways!
          <br>
          KIDS 8 AND UNDER GET IN FREE WITH A PAYING ADULT! Children are not to be left unattended!
          <br>
          RSVP on our Facebook EVENT PAGE at Spring Geequinox
          <br>
          
          *tickets while not refundable are transferable.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>

