.outer-container{
  margin-top: 8rem;
  padding: 1.75rem 5rem;
}

.login-container{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .strayspirit-logo{
    margin: -6.75rem 0 1.75rem 0;
  }

  .form-container{
    width: 60%;
    margin: 1.75rem auto;

    .text-input{
      margin-bottom: 0.75rem;
    }

    .invalid-field{
      color: red;
      display: none;
    }

    .invalid{
      input{
        background-color: #ffeded;
      }
      .invalid-field{
        display: block;
      }
    }

    button{
      margin-top: 1.75rem;
    }
  }
}

