.outer-container{
  margin-top: 8rem;
  padding: 1.75rem 5rem;
}

.login-container{
  max-width: 50%;
  padding-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .strayspirit-logo{
    margin: -6.75rem 0 1.75rem 0;
    img{
      height: 85px;
    }
  }

  .form-container{
    width: 60%;
    margin: 1.75rem auto;

    .text-input{
      margin-bottom: 0.75rem;
    }

    .invalid-field{
      color: red;
      display: none;
    }

    .invalid{
      input{
        background-color: #ffeded;
      }
      .invalid-field{
        display: block;
      }
    }

    button{
      margin-top: 1.75rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .outer-container{
    padding: 0;
    margin-top: 10rem;
  }
  .login-container{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  .outer-container{
    padding: 0;
    margin-top: 4rem;
  }
  .login-container{
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .strayspirit-logo{
    display: none;
  }
  .jumbotron{
    height: 100vh;
    margin-bottom: 0;
  }
}
