<div class="outer-container">
  <div class="jumbotron login-container">
    <div class="strayspirit-logo">
      <img src="../../assets/images/StraySpiritLogo.PNG" height="85" alt="StraySpirit_Logo">
    </div>
    <h1>Login</h1>
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="attemptLogin()">
        <div class="text-input" [ngClass]="{ 'invalid': submitted && validationChecks.email.errors}">
          <input type="email" class="form-control" formControlName="email" placeholder="E-mail Address">
          <p class="small invalid-field">E-mail address invalid.</p>
        </div>
        <div class="text-input" [ngClass]="{ 'invalid': submitted && validationChecks.password.errors}">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
          <p class="small invalid-field">Password invalid.</p>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="rememberMe">
          <label for="rememberMe" class="form-check-label">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
    <p><a routerLink="/forgot-password">Forgot password?</a></p>
    <p>Don't have an account? <a routerLink="/register">Register</a> here</p>
  </div>
</div>
