<div class="outer-container">
  <div class="row page-title">
    <h1>Manage Users</h1>
  </div>
  <div class="row">
    <div class="page-content col-12">
      <div class="user-list">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ 'active': tabSelected == 0 }" (click)="showUsers()">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ 'active': tabSelected == 1 }" (click)="showOrganizations()">Organizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ 'active': tabSelected == 2 }" (click)="showAdmins()">Admins</a>
          </li>
        </ul>
        <div class="table-container">
          <table *ngIf="tabSelected != 2">
            <tr>
              <th>Name</th>
              <th>Email Address</th>
              <th>Activity Status</th>
              <th>Admin Privileges</th>
              <th></th>
            </tr>
            <tr *ngFor="let user of currentList">
              <td>
                <p *ngIf="user.user_type === 'personal'; else isOrganization">{{user.firstName}} {{user.lastName}}</p>
                <ng-template #isOrganization>
                  <p>{{user.organizationtName}}</p>
                </ng-template>
              </td>
              <td>{{user.email}}</td>
              <td>
                <p *ngIf="user.isActive; else notActive">Active</p>
                <ng-template #notActive>
                  <p>Inactive</p>
                </ng-template>
              </td>
              <td class="button-box">
                <button class="btn-success" *ngIf="user.isAdmin; else notAdmin" (click)="toggleAdmin(user._id)">Enabled</button>
                <ng-template #notAdmin>
                  <button class="btn-light" (click)="toggleAdmin(user._id)">Disabled</button>
                </ng-template>
              </td>
              <td class="button-box">
                <a title="Delete" (click)="confirmDelete.show()"><i class="fas fa-trash fa-lg"></i></a>
              </td>
            </tr>
          </table>
          <!--Show different table with different options for the admin section-->
          <table *ngIf="tabSelected == 2">
            <tr>
              <th>Username</th>
              <th>Email Address</th>
              <th>Regular Admin Privileges</th>
              <th>Super Admin Privileges</th>
            </tr>
            <tr *ngFor="let user of currentList">
              <td>{{user.name}}</td>
              <td>person@fake.com</td>
              <td class="button-box">
                <button class="btn-success" *ngIf="user.isAdmin; else notAdmin" (click)="toggleAdmin(user._id)">Enabled</button>
                <ng-template #notAdmin>
                  <button class="btn-light" (click)="toggleAdmin(user._id)">Disabled</button>
                </ng-template>
              </td>
              <td class="button-box">
                <button class="btn-success" *ngIf="user.isSuperAdmin; else notSuperAdmin" (click)="toggleSuperAdmin(user._id)">Enabled</button>
                <ng-template #notSuperAdmin>
                  <button class="btn-light" (click)="toggleSuperAdmin(user._id)">Disabled</button>
                </ng-template>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Delete confirmation popup. The documentation for Angular-specific Bootstrap modals at
      https://mdbootstrap.com/docs/angular/modals/basic/ was used as a guideline.-->
  <div mdbModal #confirmDelete="mdbModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are You Sure?</h5>
          <button type="button" class="close" title="Close" (click)="confirmDelete.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deleting this user will completely remove their account from the Stray Spirit website. This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="confirmDelete.hide()">Cancel</button>
          <button class="btn btn-primary" (click)="confirmDelete.hide()">Delete User</button>
        </div>
      </div>
    </div>
  </div>
</div>

