// form-control,.forgotmargin,.my,.register
// {
// // margin-top: 20px;
// padding: 20px;


// }

.form-control,.submitbtn 
{
    width: 50%;
   margin: auto;
   margin-bottom: 30px;
    

}



.header2
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}