
.main-container {
  width: 100%;
  margin: 10px;
  background-color: transparent;
}

.fields-container {
  display: flex;
  flex-direction: column; 
}

.fields-container > * {
  width: 100%;
}

.thankyou-para{
  text-align: justify;
  font-family: Calibri;
  font-size: 10pt;
  
}