table {
    width: 100%;
  }
  
.wrapper {
    
    float: left;
}
.right {
    margin-left:auto;
    margin-bottom:auto;
    float: left;
    padding-right: 1%;
}
.right1 {
    margin-left:600px;
    
}
.he{
    max-width: 100%;
    margin-bottom: 2%;

}

.button-class
{   margin-left: 54%;
   
}

.sub 
{
    padding-left: 10%;
    padding-top: 0%;
}
.mat-h2
{
    margin-bottom: 0px;
}

.rep
{
    text-align: end;
    float:right;
    font-weight: bold;
}

#fposts
{
    border: 15px solid yellow;
}

#heading
{
    text-align: center;
}
