<div  id="MainDiv">

<div class="container-fluid" id="Div1">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <mdb-carousel [animation]="'slide'">
        <mdb-carousel-item>
          <img class="d-block  img-responsive" src="../assets/images/PetProfileImages/cat1.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block  img-responsive" src="../assets/images/PetProfileImages/cat2.jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block  img-responsive" src="../assets/images/PetProfileImages/cat3.jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>

</div>

<div class="container-fluid" id="Div2">
    <div class="row" id="row1">
          <div class="col-md-8 col-sm-8 col-xs-8" id="row1Col1">
                 <h2><b>PET NAME</b></h2>
                 <p class="pet-info">
                   Breed:<br/>
                   Sex:<br/>
                   Age: <br/>
                   Size: <br/>
                   Color:<br/> 
                 </p>
                 <hr/>
                 <h2><b>FACTS</b></h2>
                 <p class="pet-info">
                    Characteristics:<br/>
                    Coat lenght:<br/>
                    House trained: <br/>
                    Health: <br/> 
                 </p>
                 <hr/>
                 <h2><b>ABOUT</b></h2>
                 <p id="pet-about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare quam viverra orci sagittis. Vestibulum sed arcu non odio. Sit amet nisl purus in mollis nunc sed id. Nibh venenatis cras sed felis eget velit aliquet sagittis. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Tincidunt tortor aliquam nulla facilisi. Faucibus nisl tincidunt eget nullam. Dignissim convallis aenean et tortor at risus viverra adipiscing. Lobortis elementum nibh tellus molestie nunc non blandit massa. In fermentum posuere urna nec tincidunt praesent semper. Sit amet massa vitae tortor condimentum. Tempor orci eu lobortis elementum nibh tellus molestie nunc.
                 </p>
          </div>
        
          <div class="col-md-4 offset-md-0 col-sm-3 offset-sm-1 col-xs-3 offset-xs-1" id="row1Col3">  
              <h2>Adoption Agency Name</h2>
          </div>
    </div>
</div>

</div>

