<div  id="MainDiv">

<div class="container-fluid" id="Div1">

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- Carousel has been used from the following site:
      https://mdbootstrap.com/docs/angular/advanced/carousel/ -->
      <mdb-carousel [animation]="'slide'">
          <!-- Images are used from the following sites:
          https://www.onepixel.com/en/photo/amazing-russian-blue-cat-on-black-background-1189707
          https://www.onepixel.com/en/photo/amazing-russian-blue-cat-on-black-background-1189706
          https://www.onepixel.com/en/photo/amazing-russian-blue-cat-on-black-background-1189715 -->
        <mdb-carousel-item>
          <img class="d-block  img-responsive" src="../assets/images/PetProfileImages/cat1.jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block  img-responsive" src="../assets/images/PetProfileImages/cat2.jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block  img-responsive" src="../assets/images/PetProfileImages/cat3.jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>

</div>

<div class="container" id="Div2">
    <div class="row" id="row1">
          <div class="col-md-12 col-sm-12 col-xs-12" id="row1Col1">
                 <h2>Richhie</h2>
                 <p class="pet-info">
                   Breed: Cat<br/>
                   Sex: Female<br/>
                   Age: 1<br/>
                   Size: medium<br/>
                   Color: black<br/> 
                 </p>
                 <hr/>
                 <h2>FACTS</h2>
                 <p class="pet-info">
                    Characteristics: shy<br/>
                    Coat length: small<br/>
                    House trained: yes<br/>
                    Health: normal<br/> 
                 </p>
                 <hr/>
                 <h2>ABOUT</h2>
                 <p id="pet-about">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare quam viverra orci sagittis. Vestibulum sed arcu non odio. Sit amet nisl purus in mollis nunc sed id. Nibh venenatis cras sed felis eget velit aliquet sagittis. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Tincidunt tortor aliquam nulla facilisi. Faucibus nisl tincidunt eget nullam. Dignissim convallis aenean et tortor at risus viverra adipiscing. Lobortis elementum nibh tellus molestie nunc non blandit massa. In fermentum posuere urna nec tincidunt praesent semper. Sit amet massa vitae tortor condimentum. Tempor orci eu lobortis elementum nibh tellus molestie nunc.
                 </p>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12" id="row1Col2">  
            <h2>Abc Adoption Agency</h2>
            <p class="agency-info">
                <span><i class="fa fa-map-marker"></i> Location: Halifax, Nova Scotia</span> <br/><br/>
                <span><i class="fa fa-envelope"></i> Email: abc@gmail.com</span> <br/><br/>
                <span><i class="fa fa-users"></i> About us: <br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare quam viverra orci sagittis. Vestibulum sed arcu non odio. Sit amet nisl purus in mollis nunc sed id. Nibh venenatis cras sed felis eget velit aliquet sagittis. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Tincidunt tortor aliquam nulla facilisi. Faucibus nisl tincidunt eget nullam. Dignissim convallis aenean et tortor at risus viverra adipiscing. Lobortis elementum nibh tellus molestie nunc non blandit massa. In fermentum posuere urna nec tincidunt praesent semper. Sit amet massa vitae tortor condimentum. Tempor orci eu lobortis elementum nibh tellus molestie nunc.
              </span>
            </p>
            
          </div>
    </div>

</div>

</div>

