<div class="container-fluid">
  <h1 class="product-list-header">Pets Available For Adoption</h1>
  <div class="col-md">
    <!-- Product Grid 1-->
    <div class="pet-list-1">
      <div class="row">
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct1.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct2.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct3.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md">

    <!-- Product Grid 2-->
    <div class="pet-list-1">
      <div class="row">
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct4.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct5.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct6.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md">
    <!-- Product Grid 3-->
    <div class="pet-list-1">
      <div class="row">
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct7.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct8.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>
        <div class="col-md">
          <div class="petimage1">
            <img src="../assets/images/petproduct9.jpg" class="img-fluid">
            <h6 class="name">
              <a href="#">
                  Lorem ipsum
              </a>
              <a href="#">
                <span>Lorem ipsum</span>
              </a>
            </h6>
            <p class="price-container">
              <span>$200</span>
            </p>
            <p>Lorem ipsum </p>
            <a href="javascript:void(0);" class="btn btn-info">More info</a>
          </div>
        </div>

      </div>
    </div>
  </div>





</div>