.pet-list-1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    padding:0 0 72px;
    position:relative;
 
}
.product-list-header
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 80px;
    color: #6c757d;
}

img
{
    width: 200px;
    height: 200px;
}