<div id="MainDiv">
  <div class="container-fluid">

    <div class="row" id="Row1">
      <div class="col-lg-6 col-md-6 col-sm-6" id="Row1Col1">
        <!-- The image has been take from this website:  
        https://timesofindia.indiatimes.com/best-products/pets/dogs/these-dry-dog-food-packs-are-healthy-wont-leave-the-floors-messy/articleshow/67366466.cms -->
        <img class="img-fluid" src="../assets/images/PetProductImages/petproduct.jpg"> 
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" id="Row1Col2">
        <h1>Product Name</h1>
        <hr/>
        <p class="product_details">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare quam viverra orci sagittis. Vestibulum sed arcu non odio. Sit amet nisl purus in mollis nunc sed id. Nibh venenatis cras sed felis eget velit aliquet sagittis. Nec feugiat in fermentum posuere urna nec tincidunt praesent. 
        </p>
      </div>
    </div>
    
  </div>
</div>
