footer{
    -webkit-box-shadow: 0px -5px 33px -6px rgba(102,102,102,1);
-moz-box-shadow: 0px -5px 33px -6px rgba(102,102,102,1);
box-shadow: 0px -5px 33px -6px rgba(102,102,102,1);
}
.container{
    padding: 5px;
}
.container p{
    margin-left: 5px;
}