<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
</head>
<body>
<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block h-50 w-100" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/How%20to%20calm%20a%20hyper%20dog.jpg?itok=Vg7ueySi" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block h-50 w-100" src="https://www.sciencemag.org/sites/default/files/styles/inline__450w__no_aspect/public/GDBP58_16x9.jpg?itok=veJAtfGN" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block h-50 w-100" src="https://images.huffingtonpost.com/2016-05-30-1464600256-1952992-cutecatnames-thumb.jpg" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block h-50 w-100" src="http://kitty-whisperer.com/cat-cute-wallpaper/baby-cute-cat-wallpaper/" alt="Fourth slide">
  </mdb-carousel-item>
</mdb-carousel>
<div class="container">
  <br>
	<input id="search" type="text" placeholder="Search by breed">
  <i class="fas fa-search" aria-hidden="true"></i>
	<div id= "one" class="row">
    <div class="col-sm">
      <br><h4>Why Adopt a pet?</h4>
      <p>The above example creates three equal-width columns on small, medium, large, and extra large devices using our predefined grid classes. Those columns are centered in the page with the parent <a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a></p>
    </div>
    <div class="col-sm">
      <br><h4>Adopt a pet with StraySpirit</h4>
      <p>Here is where it goes!!</p>
    </div>
    </div>
    <div id= "pas1" class="row">
    <div class="col-sm">
      <h4>Our mission</h4>
      <p>The above example creates three equal-width columns on small, medium, large, and extra large devices using our predefined grid classes. Those columns are centered in the page with the parent</p>
    </div>
    <div class="col-sm">
      <h4>Rescue stories</h4>
      <p>Here is where it goes!!</p>
    </div>
    </div>
    <h4><strong>Top Events List</strong></h4>
     <div id= "root" class="row">
  <div class="col-md-4">
    <mdb-card class= "cards" narrower ="true">
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://bloximages.newyork1.vip.townnews.com/brownsvilleherald.com/content/tncms/assets/v3/editorial/e/75/e7543764-0e2a-11e4-bdc2-0017a43b2370/53c8934ad4cf4.image.jpg?resize=300%2C225"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <mdb-card-body cascade="true" class="text-center">
        <h3 class="card-title">
          <strong>Animal Shelter, a youth campaign </strong>
        </h3>
      
        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
        </mdb-card-text>
        <a href="#" mdbBtn color="info" mdbWavesEffect> Register</a>
        <a href="#" mdbBtn color="success" mdbWavesEffect>Share</a>
      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="http://bdcwire.com/wp-content/uploads/2014/10/catsinspace.gif"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h3 class="card-title">
          <strong>Food Festival - For cats</strong>
        </h3>
        <mdb-card-text>
          Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
        </mdb-card-text>
        <a href="#" mdbBtn color="info" mdbWavesEffect> Register</a>
        <a href="#" mdbBtn color="success" mdbWavesEffect>Share</a>
      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://cdn1-www.momtastic.com/assets/uploads/2016/07/GamesKidsPlayDogs_sized.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h3 class="card-title">
          <strong>Fun-nanza, for your playful dog</strong>
        </h3>
        <mdb-card-text>
          <p>Each year, 2.7 million adoptable dogs and cats are euthanized in the United States, simply because too many pets come into shelters and too few people consider adoption when looking for a pet.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a></p>
        </mdb-card-text>
        <a href="#" mdbBtn color="info" mdbWavesEffect> Register</a>
        <a href="#" mdbBtn color="success" mdbWavesEffect>Share</a>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>
    <br> <h4><strong> Featured Dog Breeds </strong> </h4>
    <!--material.angular.io-->
    <div id= "root" class="row">
      <div class="col-sm">
      <mat-card class="card" narrower= "true">
  <mat-card-header >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm">
      <mat-card class="card" narrower= "true">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm">
      <mat-card class="card" narrower= "true">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
    </p>
  </mat-card-content>
</mat-card>
</div>
    </div>
<!--Row two begins-->
<br> <h4><strong>Featured Cat Breeds</strong></h4>
    <div id= "root" class="row">
      <div class="col-sm">
      <mat-card class="card" narrower= "true">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Russian Blue</mat-card-title>
    <mat-card-subtitle>Cat Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Young_Male_CFA_Kitten_-_Age_2_Months.jpg/255px-Young_Male_CFA_Kitten_-_Age_2_Months.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm">
      <mat-card class="card" narrower= "true">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Russian Blue</mat-card-title>
    <mat-card-subtitle>Cat Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Young_Male_CFA_Kitten_-_Age_2_Months.jpg/255px-Young_Male_CFA_Kitten_-_Age_2_Months.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm">
      <mat-card class="card" narrower= "true">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Russian Blue</mat-card-title>
    <mat-card-subtitle>Cat Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Young_Male_CFA_Kitten_-_Age_2_Months.jpg/255px-Young_Male_CFA_Kitten_-_Age_2_Months.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.<a href="https://www.humanesociety.org/resources/top-reasons-adopt-pet">Read more..</a>
    </p>
  </mat-card-content>
</mat-card>
</div>
    </div>
   
</div>
</body>
</html>

