
<!-- Authored by Lakshmi Ponnuru - B00811623 -->

<!-- This is just a static page-->
<div class="container mt-85">
  <div class="jumbotron">
    <div class="container">
      <h2 class="head"><strong>Payment Gateway </strong></h2>
      <br>
      <div>
        <p class="para">Note: This is just a static page</p>
      </div>
      <div>
          <mat-card>
              <!--https://support.hashflare.io/hc/article_attachments/115009661205/Screen_Shot_2017-10-11_at_3.37.36_PM.png-->
              <img
                src="https://support.hashflare.io/hc/article_attachments/115009661205/Screen_Shot_2017-10-11_at_3.37.36_PM.png"
                 alt="Payment Gateway" style="width:100%; display:block;">
              </mat-card>
      </div>
      <br>
      <h2 class="head"><strong>Donation Successful. Thank You.</strong></h2>
    </div>
  </div>
</div>
