.box-border{
    width: 80%;
    border: 3px solid black;
    padding: 50px;
    margin-left:10%;
    margin-top:2%;
     
}

.participate-button{
    margin-left: 58%;
    background-color: green;
    cursor:pointer;
}
.text-align{
    margin-top: 2%;
}
.serach-bar{
    margin-left: 76%;
}